/**********GENERALES*****************/
h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;  
}


/**********MENU**********************/
header.header {
    width:100%;
    position: absolute;
    top:0;
}
header .menu a {
    color:$white;
    font-weight: 700; 
    text-transform:uppercase;
    font-size:.85em;
}

/**********PAGES********************/

/*Home*/
.home .copyright {
    display:none;
}
.home .v-align-container{
    text-align: center; 
    h1 { 
        max-width:800px;
        color: #ffffff; 
        display: inline-block; 
    }
}

/*Archive artists*/
.post-type-archive-artistes {
    .featured-image { margin-bottom:7px; }
    .title {
        margin-bottom:0;
        text-transform: uppercase;
        font-size:0.85em;
    }
}

/*Artiste seul*/
.single-artistes .ensembles li {
    margin-bottom:.8em;
}

/*Agenda archives*/
.post-type-archive-agenda .type-agenda {
    .title{
        font-size:1em;
        margin-bottom: .5rem;
    }
    .menu.simple {
       line-height: 0.9;
       li {
           margin-right: 0.3rem;  
       }
    }
}


/*****HEADER CUSTOMISATIONS*******/
header {
    z-index: 2;
}
.page-title, .single-title {
    display:none;
}
.custom-header {
    z-index:-1;
}
.custom-header h1 {
    position:relative;
    padding: 100px 0px;
    text-align: center;
    color: #ffffff;
}
.custom-header h1 > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: -1;
}
.custom-header h1 > div { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

/*****************FOOTER***********************/
.copyright {
    color:$dark-gray;
}
/*****************ORBIT SLIDER********************/
.orbit {
    background:lightgrey;
}


/*****************UTILITIES**********************/

/*Fullscreen*/
.fullscreen body {
    overflow-y: hidden;
}
.fullscreen, .fullscreen body, .fullscreen .off-canvas-wrapper, .fullscreen .off-canvas-content  {
    height:100%;
}

/*Alignement vertical*/
.v-align-container {
    display:table; 
    width:100%; 
    height:100%;
    > div {
        display:table-cell; 
        vertical-align: middle; 
    }
}

/*overlay*/
.overlay:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -2;
    content:"";
    background-color:#000;
    opacity: .6;  
}
.image-container::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-container {
    vertical-align: middle;
    display: inline-block;
}



/*****************AUTRES**********************/
/*Ajustement des row imbriquées*/
.row .row {
    margin-left:0 !important;
    margin-right:0 !important;  
}
.row { padding:0 0 1.5rem 0; }
.show { display:block !important; }
hr.big { margin-bottom: 2.5em; }
h2 { font-weight: 300; }