/**********MENU**********************/
.menu a {
    color:$white;
}


/**********PAGES********************/
/*Home*/
.home .copyright {
    display:none;
}

/*Archive artists grid*/
.post-type-archive-artistes h3 {
    font-size:1em;
}

/*****HEADER CUSTOMISATIONS*******/
header {
    z-index: 2;
}
.page-title, .single-title {
    display:none;
}
.custom-header {
    top: -54px;
    position: relative;
    z-index:-1;
}
.custom-header h1 {
    position:relative;
    padding: 80px 0px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.custom-header h1 > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    z-index: -1;
}

.custom-header h1 > div { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}


/*****************UTILITIES**********************/
/*fullscreen*/
.fullscreen body {
    overflow-y: hidden;
}
.fullscreen, .fullscreen body, .fullscreen .off-canvas-wrapper, .fullscreen .off-canvas-content  {
    height:100%;
}

/*overlay*/
.overlay:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -2;
    content:"";
    background-color:#000;
    opacity: .6;  
}

/*****************AUTRES**********************/
/*Ajustement des row imbriquées*/
.row .row {
    margin-left:0 !important;
    margin-right:0 !important;  
}
.entry-content .row {
    padding:45px 0 0 0;
}
